<div class="container">
  <div class="row">
    <div class="col-6 p-2">
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Add Visitor</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">a@gmail.com</h6> -->
          <button class="btn btn-primary" (click)="addVisitor()">
            Add Visitor
          </button>
        </div>
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">See Flats Details</h5>
          <h6 class="card-subtitle mb-2 text-muted">See all Flat Details</h6>
          <button class="btn btn-primary" (click)="seeFlatsDetails()">
            See Flats
          </button>
        </div>
      </div>
    </div>
    <div class="col-6 p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">See all Visitors</h5>
          <h6 class="card-subtitle mb-2 text-muted">Visitors</h6>
          <button class="btn btn-primary" (click)="addBills()">
            See Visitors
          </button>
        </div>
      </div>
    </div>
    <div class="col-6 p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Add Bills</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Add all Bills in one place
          </h6>
          <button class="btn btn-primary" (click)="addBills()">
            Add Bills
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
