<div class="container">
  <div class="row">
    <div class="col p-2">
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Add Employee</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">a@gmail.com</h6> -->
          <button class="btn btn-primary" (click)="addEmployee()">
            Add Employee
          </button>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">See All Employees</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            See all Employees in one place
          </h6>
          <button class="btn btn-primary" (click)="showEmployees()">
            See Employees
          </button>
        </div>
      </div>
    </div>
    <div class="col p-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">See All Bills</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            See all Bills in one place
          </h6>
          <button class="btn btn-primary" (click)="showBills()">
            See Bills
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
