<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngIf="admin">Owner</th>
      <th scope="col">Bill Number</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Paid</th>
      <th scope="col">Total Bill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <th scope="row" *ngIf="admin">{{ bill.owner }}</th>
      <th scope="row">{{ bill.billNumber }}</th>
      <td>{{ bill.type }}</td>
      <td>{{ bill.description }}</td>
      <td>{{ bill.isPaid }}</td>
      <td>{{ bill.totalBill }}</td>
    </tr>
  </tbody>
</table>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">No Bills</h4>
      </div>
      <div class="modal-body">
        <p>No Bills are added yet</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
